@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="columns large-12 stick-to-left">
        <h1>Aventures Médievales Fantastiques</h1>
        <hr />
    </div>
</div>

<div class="row">

    <div class="columns large-6 stick-to-left">
        
        Bienvenue sur le site des AMF
        
    </div>


</div>